Relazione/*.pdf
Relazione/*.aux
Relazione/*.fls
Relazione/*.fdb_latexmk
Relazione/*.log
Relazione/*.synctex.gz
progetto-pao.pro.user
/KatalogTest/.qmake.stash

/.vs/
progetto-pao.sln
.qmake.stash
Katalog/Katalog.pro.user
Katalog/Katalog.vcxproj
Katalog/Katalog.vcxproj.filters
Katalog/Katalog.vcxproj.user
Katalog/debug/
Katalog/release/
*.KatalogTest.designtime.idx
/Katalog/Katalog.pro.user
/KatalogTest/KatalogTest.vcxproj
/KatalogTest/KatalogTest.vcxproj.filters
/KatalogTest/KatalogTest.vcxproj.user
/KatalogTest/debug/
/KatalogTest/release/	
/KatalogTest/target_wrapper.bat
/build-Katalog-Desktop-Debug/
